<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Notes</title>

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">

    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="app">
      <notes></notes>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script>
      let Editor = {
        template: `
          <textarea class="editor" rows="10" placeholder="Write a note"></textarea>
        `
      }

      let Note = {
        components: {
          'editor': Editor
        },

        props: [
          'noteObject'
        ],

        data() {
          return {
            open: false,
            note: this.noteObject
          }
        },

        template: `
          <div class="note__wrapper">
            <div class="note__header">
              <a href="#" class="note" @click.prevent="open = !open">
                <span>{{note.body || 'Empty note'}}</span>
                <span>5 words</span>
              </a>
              <a href="#" class="note__delete" v-if="open">Delete note</a>
            </div>
            <editor v-if="open"></editor>
          </div>
        `
      }

      let Notes = {
        components: {
          'note': Note
        },

        data() {
          return {
            notes: JSON.parse(localStorage.getItem('notes')) || []
          }
        },

        template: `
          <div class="notes">
            <a class="notes__new" href="#" @click.prevent="newNote">
              Create a new note
            </a>
            <note v-for="note in notes" :note-object="note" :key="note.id"></note>
          </div>
        `,

        methods: {
          newNote () {
            this.notes.unshift({
              id: Date.now(),
              body: ''
            })

            localStorage.setItem('notes', JSON.stringify(this.notes))
          }
        }
      }

      let app = new Vue({
        el: '#app',
        components: {
          'notes': Notes
        }
      })
    </script>
  </body>
</html>
